/* Text */
body {
	font-family: sans-serif;
}
h1 {
	font-size: 3em;
	margin-bottom: 10px;
}
p {
	margin-bottom: 10px;
}

/* Menu*/
header {
	display: inline-block;
	width: 100%;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	height: 60px;
	width: 33.33%;
	background-color: #f20000;
	color: #ffffff;
	text-decoration: none;
	display: block;
	float: left;
	text-align: center;
	line-height: 60px;
	font-family: sans-serif;
}
	nav ul li a:hover {
		background-color: #e60000;
	}


/* Content */
article {
	padding: 20px;
	display: inline-block;
}

/* Table styles */
table, th, td {
	text-align: left;
}

th {
	padding-right: 40px;
}

article {
	display: none;
}

article.active {
	display: block;
}