/* Text */
body {
	font-family: sans-serif;
	background: url('../img/bg.jpg') 0 0 no-repeat fixed;
	background-size: 100% 100%;
}
h1 {
	font-size: 3em;
	margin-bottom: 10px;
}
p {
	margin-bottom: 10px;
}

/* Menu*/
header {
	display: inline-block;
	width: 100%;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	height: 60px;
	width: 33.33%;
	background-color: #f20000;
	color: #ffffff;
	text-decoration: none;
	display: block;
	float: left;
	text-align: center;
	line-height: 60px;
	font-family: sans-serif;
}
	nav ul li a.active {
		background-color: #c00000;
	}
	nav ul li a:hover {
		background-color: #c00000;
	}


/* Content */
#loadcontainer {
	left: 50%;
	margin: 50px 0;
	position: fixed;
}
#loader {
	display: none;
	background-color: rgba(0,0,0,0);
	opacity: .6;
	border-radius: 50px;
	margin: 5% auto;
	border: 10px solid #000;
	border-top: 10px solid rgba(0,0,0,0);
	border-left: 10px solid rgba(0,0,0,0);
	width: 50px;
	height: 50px;
	margin-left: -50%;
}

#loader.loading {
	display: block;
	animation: loader .5s infinite linear;
	-moz-animation: loader .5s infinite linear;
	-webkit-animation: loader .5s infinite linear;
}

article {
	padding: 20px;
	display: inline-block;
	font-size: .85em;
}

article.off {
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-o-transition: .4s;
}

/* Table styles */
table, th, td {
	text-align: left;
}

th {
	padding-right: 40px;
	font-weight: bold;
	font-size: 1.2em;
	color: #333333;
	max-width: 125px;
}

tbody:before {
	line-height: 20px;
	content: "-";
	visibility: hidden;
	display: block;
}

article:not(:first-of-type) tbody > td {
	padding: 20px 0;
}

tbody > tr {
	border-bottom: 1px solid #ddd;
}
thead tr th:first-child {
	width: 85px;
	padding-right: 25px;
}

thead tr th:last-child {
	padding-right: 0;
	max-width: 60px;
}

td {
	padding: 20px 15px 20px 0;
	max-width: 125px;
}

tbody td:last-child {
	padding-right: 0;
}

td span {
	display: block;
	margin-bottom: 5px;
}

input[type=number] {
	width: 40px;
	height: 25px;
	border-radius: 2px;
	border: 1px solid #999;
	text-align: center;
}

button {
	height: 30px;
}

article {
	display: none;
	background: rgba(255,255,255,.95);
}

article.active {
	display: block;
}


/* Animations */
@keyframes loader {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

 @-moz-keyframes loader {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}